.App {
  font-family: sans-serif;
  text-align: center;
}



.d2h-code-line-prefix {
  display: none;
}

.d2h-del {
  background-color: white;
  border-color: #eee;
}

.d2h-ins {
  background-color: white;
  border-color: #eee;
}

.d2h-code-side-line del {
  background-color: white;
}

.d2h-code-side-line ins {
  background-color: white;
}

.d2h-cntx {
  background-color: #ffb7ba;
  border-color: #dd8d8d;
}

.d2h-emptyplaceholder {
  background-color: white;
}

.d2h-moved-tag {
  display: none;
}

.d2h-moved {
  display: none;
}

.d2h-file-name {
  display: none;
}

.d2h-file-list-title {
  display: none;
}

.d2h-lines-added {
  display: none;
}

.d2h-lines-deleted {
  display: none;
}

.d2h-icon {
  display: none;
}